{% extends 'gdz/base.html' %}

{% block content%}
    <div class="row  justify-content-center mt-5">
    {% if post.image%}
        <div class="card" style="width: 70%;">
                <a href="{{ post.image }}" width="1000%" data-fancybox>
                    <img src="{{ post.image }}" width="240" class="card-img-top" alt="...">
                </a>

            <div class="card-body">
                <h1>ГДЗ по алгебре 7 класс Ю.Н. Макарычев Углубленный уровень</h1>
                <p class="card-text">Номер - {{ post.number_of_task }}</p>
                <a href="{% url 'main-detail' pre_number %}" class="btn btn-outline-success mb-3">Назад</a>
                <a href="{% url 'main-detail' next_number %}" class="btn btn-outline-success mb-3">Вперед</a>
                <br>
                <hr>
                <a href="{% url 'main-page' %}" class="btn btn-outline-primary mt-5">На главную</a>
            </div>
    </div>
    {% endif %}
    </div>

{% endblock content %}

