{% extends 'gdz/base.html' %}
{% block content %}


    <div class="container">

        <div class="row justify-content-center">

        {% for number in tasks %}
            <div class="col-lg-1 col-sm-3 col-ls-2 col-3">
                <a class="btn-number btn btn-outline-secondary btn-lg" href="{% url 'main-detail' number.number_of_task %}">
                    {{ number.number_of_task }}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}


